body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #FFD900;
    padding: 15px;
    width: 100%;
}
#h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 55px;
    margin-top: 5px;
}
#h2 {
    font-family: 'Black Ops One', cursive;
    color: white;
    margin-top: -106px;
    margin-left: 152px;
    font-size: 55px;
}
#pGrey {
    font-family: 'Black Ops One', cursive;
    margin-left: 9px;
    margin-top: -38px
    
}
#main1 {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    grid-auto-columns: 48vw;
    margin-top: 5px;
    margin-left: -15px;
    
}
#text {
    font-family: 'Pridi', serif;
    margin-top: -5px;
    text-align: center;
    background-color: #514988;
    color: white;
}
#titulo {
    font-family: 'Black Ops One', cursive;
    margin: 40px;
    color: #FFD900;
    font-size: 90px;
}
#date {
    font-family: 'Black Ops One', cursive;
    font-size: 35px;
    margin-top: 90px;
}
#cont {
    font-family: 'Pridi', serif;
    font-size: 38px;
    margin-bottom: 20px;
    margin-rigth: 5px;
    margin-top: 10px;
    
}
#countDown {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: white;
    font-family: 'Black Ops One', cursive;
    margin-top: -930px;
    margin-left: 48cqw;
    margin-bottom: 460px;
    margin-right: -15px;
}
.count {
    color: #514988;
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#text1 {
    font-family: 'Black Ops One', cursive;
    background-color: white;
    color: #E33381;
    font-size: 48px;
    margin-top: -440px;
    margin-left: 51cqw;
    margin-bottom: 450px;    
}
#videoAlerquina {
    margin-top: -440px;
    margin-left: 48cqw;
    background-color: white;
}
#comprar {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 130px;
    
}
#tickets {
    margin-left: -38cqw;
    margin-top: 430px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 10rem;
    margin-right: 1200px;
}
#tickets:hover {
    cursor: pointer;
}

#textTilte {
    font-family: 'Black Ops One', cursive;
    color: #FFD900;
    font-size: 40px;
    padding: 10px;
    margin-left: 8cqw;
    margin-top: 5rem; 
    
      
}
#btn button{
    background-color: #514988;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 500px;
    height: 150px; 
    margin-top: 195px;
    margin-left: -30cqw;  
}
#btn button:hover {
    cursor: pointer;
    color: #FFD900;
}
