body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #FFD900;
    padding: 15px;
    width: 100%;
}
#h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 55px;
    margin-top: 5px;
}
#h2 {
    font-family: 'Black Ops One', cursive;
    color: white;
    margin-top: -106px;
    margin-left: 152px;
    font-size: 55px;
}
#pGrey {
    font-family: 'Black Ops One', cursive;
    margin-left: 9px;
    margin-top: -38px
    
}
#main1 {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    grid-auto-columns: 48vw;
    margin-top: 5px;
    margin-left: -15px;
    
}
#text {
    font-family: 'Pridi', serif;
    margin-top: -5px;
    text-align: center;
    background-color: #514988;
    color: white;
}
#titulo {
    font-family: 'Black Ops One', cursive;
    margin: 40px;
    color: #FFD900;
    font-size: 90px;
}
#date {
    font-family: 'Black Ops One', cursive;
    font-size: 35px;
    margin-top: 90px;
}
#cont {
    font-family: 'Pridi', serif;
    font-size: 38px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 10px;
    
}
#countDown {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: white;
    font-family: 'Black Ops One', cursive;
    margin-top: -930px;
    margin-left: 48rem;
    margin-bottom: 460px;
    margin-right: -15px;
}
#countDown p {
    margin-left: 4em;
}
.count {
    margin-left: 1em;
    color: #514988;
    font-size: 33px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
#text1 {
    font-family: 'Black Ops One', cursive;
    background-color: white;
    color: #E33381;
    font-size: 48px;
    margin-top: -440px;
    margin-left: 51cqw;
    margin-bottom: 450px;    
}
#videoAlerquina {
    margin-top: -440px;
    margin-left: 48cqw;
    background-color: white;
}
#comprar {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 130px;
    
}
#tickets {
    width: 204px;
    height: 204px;
    flex-shrink: 0;
    display: grid;
    grid-auto-flow: column;

    margin-top: 20rem;
    margin-left: -56.5em;

}
#tickets:hover {
    cursor: pointer;
}
.ticket:hover {
    transform: translateY(7px);
    transition-duration: 0.5s;
}

#textTilte {
    color: #F3C61F;
    text-align: center;
    font-family: Verdana;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10em;
}
#btn button{
    background-color: #514988;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 596px;
    height: 148px;
    flex-shrink: 0;
    margin-top: 14em;
}
#btn button:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    background-color: #665e9b;
    box-shadow: 10px 15px 100px rgb(151, 151, 151);
    cursor: pointer;
    color: #FFD900;
}
